In [1111]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [1147]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1623,tt0375173,60000000,13395939,Alfie,Jude Law|Marisa Tomei|Omar Epps|Jane Krakowski...,Charles Shyer,Meet a man who never met a woman he didn't love.,"In Manhattan, the British limousine driver Alf...",103,Comedy,Paramount Pictures|Patalex Productions,10/22/2004,5.4,2004
782,tt0810913,79000000,149673788,Jack and Jill,Adam Sandler|Katie Holmes|Al Pacino|Eugenio De...,Dennis Dugan,His twin sister is coming for the holidays... ...,"Jack Sadelstein, a successful advertising exec...",91,Comedy,Columbia Pictures|Happy Madison Productions|Br...,11/11/2011,4.2,2011
1093,tt0287978,78000000,179179718,Daredevil,Ben Affleck|Jennifer Garner|Colin Farrell|Mich...,Mark Steven Johnson,A Guardian Devil,"He dwells in a world of eternal night, but the...",103,Fantasy|Action|Crime|Science Fiction|Thriller,Twentieth Century Fox Film Corporation|Regency...,2/14/2003,4.9,2003
1354,tt0400497,50000000,66002004,Herbie Fully Loaded,Lindsay Lohan|Michael Keaton|Matt Dillon|Breck...,Angela Robinson,Start your engines...,"Maggie Peyton, the new owner of Number 53 - th...",101,Comedy|Family|Adventure|Fantasy|Romance,Walt Disney Pictures|Robert Simonds Productions,6/18/2005,5.2,2005
472,tt1212419,50000000,105197635,Hereafter,Matt Damon|Bryce Dallas Howard|George McLaren|...,Clint Eastwood,Touched by death. Changed by life.,A supernatural thriller centered on three peop...,129,Drama|Fantasy,Amblin Entertainment|Malpaso Productions|Warne...,10/15/2010,5.5,2010

In [1113]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [1114]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
# расчет прибыли
data['profit'] = data['revenue'] - data['budget']
# функция для подсчета количества значений в столбцах

def count_func(s):
    s = s.split('|')
    for record in s:
        if record in values_dict:
            values_dict[record] += 1
        else:
            values_dict[record] = 1
    return values_dict

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [1115]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [1116]:
# тут пишем ваш код для решения данного вопроса:
# получим результат при помощи фильтрации нужной строки по макс значению бюджета
answer1 = '{} ({})'.format(data.original_title[data.budget.idxmax()], data.imdb_id[data.budget.idxmax()])
answers['1'] = '5. ' + answer1 #+

ВАРИАНТ 2

In [1117]:
# можно добавлять разные варианты решения
# отсортируем исходный датафрейм по убыванию бюджета, в первой строке получим результат
data1 = data.sort_values('budget', ascending = False)
answer1 = '{} ({})'.format(data1.iloc[0].original_title, data1.iloc[0].imdb_id)

# 2. Какой из фильмов самый длительный (в минутах)?

In [1118]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '...'

In [1119]:
# получим результат при помощи фильтрации нужной строки по макс значению runtime
answer2 = '{} ({})'.format(data.original_title[data.runtime.idxmax()], data.imdb_id[data.runtime.idxmax()])
answers['2'] = '2. ' + answer2 #+

# 3. Какой из фильмов самый короткий (в минутах)?

In [1120]:
# отсортируем исходный датафрейм по возрастанию длительности фильма, в первой строке получим результат
data3 = data.sort_values('runtime')
answer3 = '{} ({})'.format(data3.iloc[0].original_title, data3.iloc[0].imdb_id)
answers['3'] = '3. ' + answer3 #+

# 4. Какова средняя длительность фильмов?

In [1121]:
answers['4'] = '2. ' + str(int(round(data.runtime.mean()))) #+

# 5. Каково медианное значение длительности фильмов?

In [1122]:
answers['5'] = '1. ' + str(int(data.runtime.median())) #+

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [1123]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answer6 = '{} ({})'.format(data.original_title[data.profit.idxmax()], data.imdb_id[data.profit.idxmax()])
answers['6'] = '5. ' + answer6 #+

# 7. Какой фильм самый убыточный?

In [1124]:
answer7 = '{} ({})'.format(data.original_title[data.profit.idxmin()], data.imdb_id[data.profit.idxmin()])
answers['7'] = '5. ' + answer7 #+

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [1125]:
# применим к исходному датасету фильтрацию по заданному условию
answer8 = data[data['revenue'] > data['budget']]['imdb_id'].count()
answers['8'] = '1. ' + str(answer8) #+

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [1126]:
# фильтруем исходный датасет по заданному периоду
data9 = data[data.release_year == 2008]
answer9 = '{} ({})'.format(data9.original_title[data9.revenue.idxmax()], data9.imdb_id[data9.revenue.idxmax()])
answers['9'] = '4. ' + answer9 #+

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [1127]:
data10 = data[(data.release_year >= 2012) & (data.release_year <= 2014)]
answer10 = '{} ({})'.format(data10.original_title[data10.profit.idxmin()], data10.imdb_id[data10.profit.idxmin()])
answers['10'] = '5. ' + answer10 #+

# 11. Какого жанра фильмов больше всего?

In [1128]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
# применим функцию count_func, которая подсчитывает значения столбца 
# и записывает их в словарь values_dict
values_dict = {}
data['genres'].apply(count_func)
genres_series = pd.Series(values_dict).sort_values(ascending=False)
answers['11'] = '3. ' + genres_series.index[0] #+

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [1129]:
values_dict = {}
data12 = data[data['profit'] > 0]['genres'].apply(count_func)
profitable_series = pd.Series(values_dict).sort_values(ascending=False)
answers['12'] = '1. ' + profitable_series.index[0] #+

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [1130]:
values_dict = {}
data['director'].apply(count_func)
for item in values_dict:
    values_dict[item] = data[data.director.str.contains(item)]['revenue'].sum()
result = pd.Series(values_dict).sort_values(ascending=False)
answers['13'] = '5. ' + result.index[0] #+

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [1131]:
data14 = data[data.genres.str.contains('Action')]
values_dict = {}
data14['director'].apply(count_func)
data_series = pd.Series(values_dict).sort_values(ascending=False)
answers['14'] = '3. ' + data_series.index[0] #+

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [1132]:
values_dict = {}
data2012 = data[data['release_year'] == 2012]
data2012['cast'].apply(count_func)
for item in values_dict:
    values_dict[item] = data2012[data2012.cast.str.contains(item)]['revenue'].sum()
result = pd.Series(values_dict).sort_values(ascending=False)
answers['15'] = '3. ' + result.index[0] #+

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [1133]:
data16 = data[data.budget > data.budget.mean()]
values_dict = {}
data16['cast'].apply(count_func)
result = pd.Series(values_dict).sort_values(ascending=False).index[0]
answers['16'] = '3. ' + result #+

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [1134]:
data17 = data[data['cast'].str.contains('Nicolas Cage')]
values_dict = {}
data17['genres'].apply(count_func)
result = pd.Series(values_dict).sort_values(ascending=False).index[0]
answers['17'] = '2. ' + result #+

# 18. Самый убыточный фильм от Paramount Pictures

In [1135]:
data18 = data[data['production_companies'].str.contains('Paramount Pictures')]
data18.sort_values('profit').iloc[0].original_title
answers['18'] = '1. ' + 'K-19: The Widowmaker' #+

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [1136]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]
answers['19'] = '5. ' + '2015' #+

# 20. Какой самый прибыльный год для студии Warner Bros?

In [1137]:
data20 = data[data.production_companies.str.contains('Warner Bros')]
data20.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).index[0]
answers['20'] = '1. ' + '2014' #+

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [1142]:
data['release_date'] = data['release_date'].apply(lambda x: x.split('/'))
data['month'] = data['release_date'].apply(lambda x: x[0])
data.groupby(['month'])['original_title'].count().sort_values(ascending=False).index[0]
answers['21'] = '4. ' + 'сентябрь' #+

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [1143]:
data[(data['month'] == '6') | (data['month'] == '7') | (data['month'] == '8')]['original_title'].count()
answers['22'] = '2. ' + '450' #+

# 23. Для какого режиссера зима – самое продуктивное время года?

In [1145]:
data23 = data[(data['month'] == '12') | (data['month'] == '1') | (data['month'] == '2')]
values_dict = {}
data23['director'].apply(count_func)
data23_series = pd.Series(values_dict).sort_values(ascending=False)
data23_series.index[0]
answers['23'] = '5. ' + data23_series.index[0] #+

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [1152]:
data['title_len'] = data['original_title'].apply(lambda x: len(x))
values_dict = {}
data['production_companies'].apply(count_func)
for item in values_dict:
    values_dict[item] = data[data.production_companies.str.contains(item)]['title_len'].max()
result = pd.Series(values_dict).sort_values(ascending=False)
answers['24'] = '5. ' + 'Four By Two Productions' #+

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [1160]:
data['overview_wordscount'] = data['overview'].apply(lambda x: len(x.split(' ')))
companies_list = data['production_companies'].str.cat(sep='|').split('|')
companies_dict = {}
for company in companies_list:
    avg_count = data[data['production_companies'].str.contains(company)]['overview_wordscount'].mean()
    companies_dict[company] = avg_count
companies_series = pd.Series(companies_dict).sort_values(ascending=False)
answers['25'] = '3. ' + companies_series.index[0] #+

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [1161]:
data['vote_average'].quantile(0.99, interpolation = 'linear')
data[data['vote_average'] > 7.8]['original_title']
answers['26'] = '1. ' + 'Inside Out, The Dark Knight, 12 Years a Slave' #+

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [1162]:
import itertools
actors = data['cast'].apply(lambda x: x.split('|'))
actors_series = pd.Series()
for record in actors:
    actors_pairs = pd.Series(itertools.combinations(record, 2))
    actors_series = actors_series.append(actors_pairs)
actors_series.value_counts(ascending=False)
answers['27'] = '5. ' + 'Daniel Radcliffe, Rupert Grint' #+

# Submission

In [1163]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe, Rupert Grint'}

In [1164]:
# и убедиться что ни чего не пропустил)
len(answers)

27